{% extends 'BazookasBundle:Layout:layout.html.twig' %}

{% block content %}
	{% if columns != 0 %}
		{% for column in columns %}
			{% if (column.type == 'media') %}
				{% include 'BazookasBundle:Default:mediaTable.html.twig' with {'items': items, 'columnIndex': column.columnID} %}

			{% elseif (column.type == 'tijdssprong') %}
				{% include 'BazookasBundle:Default:timejumpTable.html.twig' with {'items': items, 'columnIndex': column.columnID} %}

			{% elseif (column.type == 'map') %}
				{% include 'BazookasBundle:Default:mapTable.html.twig' with {'items': items, 'columnIndex': column.columnID} %}
			{% endif %}

			<br><br><br>
		{% endfor %}
	{% endif %}

	<a href={{ path('AddCollectionitem') }}>Voeg mediacollectie toe aan nieuwe kolom</a> |
	<a href={{ path('AddTimejump') }}>Voeg tijdssprong toe</a> |
	<a href={{ path('AddMap') }}>Voeg nieuwe map toe</a>
{% endblock %}