{% extends 'BazookasBundle:Layout:layout.html.twig' %}

{% block content %}

<h1>{{ title }}</h1>   {% if (title == 'Nieuwe media') %}<a href="/meli/media/list">Terug naar lijst</a>{% endif %}
<hr>
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" value="Submit">Versturen</button>
<button type="reset" value="Reset">Wissen</button>
{{ form_end(form) }}

{% endblock %}