{% extends 'BazookasBundle:Layout:layout.html.twig' %}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>Meli Database Admin</h1>
      <p>Deze tool laat het toe om de database van data te voorzien.</p>
    </div>
  </div>
{% endblock %}
