td, th {
  width: 200px;
}

canvas {
	border: 2px solid black;
	margin-top: 2%;
}

img {
	margin-top: 2%;
	width: 300px;
}

a[id*='remove_file'] {
	background-color:#3399ff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #3399ff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	text-align: center;
	margin-top: 1%;
	display: block;
	width: 80px;
}

a[id*='remove_file'] {
	position:relative;
	top:1px;
}

a[id*='remove_file']:hover {
	cursor: pointer;
}

p[id*='error'] {
	margin-top: 1%;
	color: red;
}